.hero-section {
    width: 480px;
    height: 400px;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url('../images/Header\ img.jpg');
    background-size: 480px 400px;
    background-position: 50% 50%;
    margin: 0 auto;
}
.hero-title {
    font-family: 'Roboto' , sans-serif;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    color:  var(--white);
    text-align: center;
    padding-top: 118px;
    margin-bottom: 30px;
}
.hero-button {
    font-family: 'Roboto' , sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    background-color: var(--nav-color);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    border: none;
    border-radius: 4px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
}